doctype html
html(lang="en")
  head
  body
    h1 Welcome to keystone nuxt login example!
    p Thank you for registering - please click this activation link to complete your registration - http://localhost:3000/login/activate/?token=#{token}